<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>learnIos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E752D0B1C7344C200F2EBB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E752D271C7344C300F2EBB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E752D321C7344C300F2EBB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
